@import url(https://fonts.googleapis.com/css?family=Quicksand);
body {margin:0;}        


/*Navigation Bar*/
.navbar
{                      
  display: flex;
  background-color:black;
  position: fixed;
  top:0;
  width: 100%;
  font-size: 20px;
}

li 
{
  display: inline;
  float: left;
  padding-left: 15px;
}

li a 
{
  display: block;
  padding: 8px;
  text-decoration: none;
  color:white;
}

  
li a:hover 
{
  background-color: #1f4cc7;
}


/*Main | Intro*/
.main
{
  padding:40px;
  background-image: url("https://ak0.picdn.net/shutterstock/videos/20344780/thumb/1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:550px;
  background-size: 100% 100%;
}

.btn
{
  display: block;
  border-radius: 5px;
  background-color: #121212;
  color: cyan;
  font-size:23px;
  text-decoration: none;
  width:fit-content;
  height:fit-content;
  padding:15px;
}

.btn:hover
{
    background-color: #1f4cc7;
}


/*Featured Gallery*/
.gallery div
{
  display: inline;
}

img
{
  height: 300px;
  width:250px;
}


/*Brand*/
.brand
{
  width: 20%;
  display: inline;
}

.brand img
{
  height: 175px;
}


/*Contact Us*/
.section-5
{
  background-color: #1a1a1a;
  display: grid; 
}

input[type=text], select, textarea 
{
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: #202020;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: monospace;
}
  
input[type=submit] 
{
  background-color: #1f4cc7;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  font-family: Quicksand;
}
  
input[type=submit]:hover 
{
  background-color: black;
}
  
/*Create two columns to keep the field on the left*/
.column 
{
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}