@import url(https://fonts.googleapis.com/css?family=Quicksand);
body {margin:0;}


/*Navigation Bar*/
.navbar
{                      
  display: flex;
  background-color:black;
  position: fixed;
  top:0;
  width: 100%;
  font-size: 20px;
}

.navbar li 
{
  display: inline;
  float: left;
  padding-left: 15px;
}

li a 
{
  display: block;
  padding: 8px;
  text-decoration: none;
  color:white;
}

li a:hover 
{
  background-color: #1f4cc7;
}



/*Products Section*/
.section-body
{
  padding-top: 30px;
  padding-left: 15px;
}

.vertical-nav
{
    padding-top: 20px;
}

.section-body ul 
{
  list-style-type: circle;
  width: 16%;
  height: 34%;
  background-color: #27323c;
  position: fixed;
}

.hold
{
  color: #b7b7b7;
  transition-duration:200ms;
  transition-timing-function: ease-out;
}
  
.hold:hover 
{
  transform: scale(1.05,1.05);
}
  
.gallery
{
  display: flex;
  flex-direction: row; 
  column-gap: 20px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.hold button{
  float:right !important;
  margin-right: 10px;
  margin-bottom: 5px;
}

.gallery img{
  height: 250px;
  width:200px;
}